.opacity{
    animation: fade !important;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 2s; 
    transition: 2s; 
}

@keyframes fade {
    from{opacity: 1;}
    to{opacity: 0;}
}